/* ************Reset-CSS************ */

:root {
	--main-font: sans-serif;
	--font-size: 16px;
	--main-color: #5898bd;
	--second-color: #222;
	--main-modal-color: rgba(82, 152, 189, 0.85);
	--second-modal-color: rgba(34, 34, 34, 0.85);
	--container-width: 1200px;
}

html {
	box-sizing: border-box;
	font-family: var(--main-font);
	font-size: var(--font-size);
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}


.header {
	position: sticky;
	z-index: 997;
	top: 0;
	padding: 1rem;
	background-color: var(--main-color);
	color: var(--second-color);
}

.header h1 {
	margin: 0 auto;
	text-align: center;
}

.section {
	padding: 2rem;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: var(--container-width);
	text-align: center;
}

/* ************Responsive Slider 1************ */
.slider1 {
	position: relative;
	width: 80%;
	margin: 1rem auto;
}

.slider1 .slider-slides {
	position: relative;
	height: 400px;
}

.slider1 .slider-slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s ease;
}

.slider1 .slider-slide img {
	height: inherit;
	width: inherit;
	object-fit: cover;
	object-position: 50% 0%; 
}

.slider1 .slider-slide.active {
	opacity: 1;
	visibility: visible;
}

.slider1 .slider-btns {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -2rem;
	display: flex;
	justify-content: space-between;
	font-size: 3rem;
	font-weight: bold;
}

.slider1 a {
	display: block;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: thin solid #000;
	text-decoration: none;
	background-color: #fff;
	color: #000;
	transition: all 0.3s ease;
}

.slider1 a:hover {
	color: #4d4d4d;
}

/* ************Responsive Slider 2************ */
.slider2 {
	position: relative;
	width: 100%;
	margin: 1rem auto;
}

.slider2 .slider-slides {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider2 .slider-slide {
	display: none;
}

.slider2 .slider-slide.active {
	display: block;
}

.slider2 .slider-slide img {
	min-height: 150px;
	object-fit: cover;
	object-position: 50% 0%; 
}

.slider2 .slider-btns {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -2rem;
	display: flex;
	justify-content: space-between;
	font-size: 3rem;
	font-weight: bold;
}

.slider2 a {
	display: block;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: thin solid #000;
	text-decoration: none;
	background-color: #fff;
	color: #000;
	transition: all 0.3s ease;
}

.slider2 a:hover {
	color: #4d4d4d;
}


/* ********* Slider 3 ********* */
@keyframes carousel-slide {
	0% {
		transform: translateX(0%);
	}

	25% {
		transform: translateX(-25%);
	}

	50% {
		transform: translateX(-50%);
	}

	75% {
		transform: translateX(-75%);
	}
}

.slider3 {
	padding: 2rem 0;
	max-width: 800px;
	text-align: center;
	overflow-x: hidden;
	background-color: lightgrey;
}

.slider3 input {
	display: none;
}

.slider3 .slides {
	padding-left: 0;
	/* 100% por cada slide */
	width: 400%;
	display: flex;
	list-style: none;
	transition: transform 0.5s ease-in-out;
	animation: carousel-slide 12s ease-in-out 3s;
}

.slider3 .avatar {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.slider3 label {
	border: medium solid gray;
	border-radius: 50%;
	margin: 0 0.25rem;
	display: inline-block;
	width: 0.75rem;
	height: 0.75rem;
	cursor: pointer;
}

.slides h3 {
	color: var(--main-color);
}
/*El signo ~ es un selector que significa
"mueve al hermano que tienes al lado"*/
#slide-1:checked ~ .slides {
	transform: translateX(0%);
}

#slide-2:checked ~ .slides {
	transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
	transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
	transform: translateX(-75%);
}

#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3,
#slide-4:checked ~ .slides-nav label#dot-4 {
	background-color: gray;
}